@{
    ViewData["Title"] = "Game";
}

@section Styles {
    <link rel="stylesheet" href="~/css/game.css" type="text/css" />
}
@section Scripts {
    <script src="~/js/game.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}

@model Chess.Models.Account.User
<h1 class="m-2">Chess</h1>

@*Main Section*@
<section class="container p-1 d-inline-flex">

    @*Chess Area*@
    <div class="container col-sm-6">

        <div id="gameArea" class="p-1" onload="StartGame()">

        </div>

        <button id="updateBtn" class="btn btn-info">Update</button>
    </div>



    @*Chat Area*@
    <div id="chat" class="container col-sm-6 p-1">

        @*---hr---*@
        <div class="row">
            <div class="col">
                <hr />
            </div>
        </div>

        @*Messages*@
        <div class="row p-1 message-list">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>

        @*---hr---*@
        <div class="row">
            <div class="col">
                <hr />
            </div>
        </div>

        @*Message input*@
        <div class="row message-input">

            <div class="d-flex col">
                <label/> msg:
                <input  type="text" id="messageInput" />
                <input  type="button" id="sendButton" value="Send" />
            </div>

        </div>

    </div>
    @*End Chat Area*@

</section>
