@{
    ViewData["Title"] = "Game";
}

@section Styles {
    <link rel="stylesheet" href="~/css/game.css" type="text/css" />
}
@section Scripts {
    <script src="~/js/game.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}

<h1 class="m-2">Chess</h1>


@*Main Section*@
<section class="container p-1 d-inline-flex">

    @*chess and chat blazor components*@
    @using Chess.Components
    <component type="typeof(Board)" render-mode="ServerPrerendered" />
    <component type="typeof(Chat)" render-mode="ServerPrerendered" />
</section>
