@section Styles {
    <link rel="stylesheet" href="~/css/game.css" type="text/css" />
}
@section Scripts {
    <script src="~/js/game.js" type="text/javascript"></script>
}
@{
    ViewData["Title"] = "Game";
}

<h1>Chess</h1>

<section class="container d-inline-flex">
    <div class="col">
        <div id="gameArea" onload="StartGame()">

        </div>
        <button class="btn btn-info" onclick="chessBoardView.UpdateView()">Update</button>
    </div>

    <div class="col">
        <textarea></textarea>
    </div>
</section>
