@{
    ViewData["Title"] = "Game";
}

@section Styles {
    <link rel="stylesheet" href="~/css/game.css" type="text/css" />
}
@section Scripts {
    <script src="~/dev/js/bundle/chess.bundle.js"></script>
}

@*Main Section*@
<div id="root">
        
</div>
