@{
    ViewData["Title"] = "Game";
}

@section Scripts {
    <script type="text/javascript" src="~/dev/js/bundle/chess.bundle.js"></script>
}

@*Main Section*@
<div id="root">
        
</div>
