@{
    ViewData["Title"] = "Home Page";
}

<div class="homebuttons">
    <a class="btn btn-outline-info btn-block homebutton" asp-controller="Hub" asp-action="Lobby">Play Match</a>
    <a class="btn btn-outline-info btn-block homebutton" asp-controller="Account" asp-action="Rankings">Rankings</a>
    <a class="btn btn-outline-info btn-block homebutton" asp-controller="Account" asp-action="SignIn">Sign In</a>
</div>

