@{
    ViewData["Title"] = "Home Page";
}

<div id="home-menu" class="col-sm-6">
    <ul>
        <li>
            <a class="btn btn-info" asp-controller="Hub" asp-action="Game">Play Match</a>
        </li>
        <li>
            <button>Rankings</button>
        </li>
        <li>
            <a class="btn btn-info" asp-controller="Account" asp-action="SignIn">Sign In</a>
        </li>
    </ul>
</div>
