@{
    ViewData["Title"] = "Home Page";
}

<div id="home-menu" class="col-sm-6">
        <a class="btn btn-outline-info" asp-controller="Hub" asp-action="Game">Play Match</a>
        <a class="btn btn-outline-info" asp-controller="Account" asp-action="Rankings">Rankings</a>
        <a class="btn btn-outline-info" asp-controller="Account" asp-action="SignIn">Sign In</a>
</div>
