@model Chess.Models.Account.User

<form method="post" asp-controller="Account" asp-action="CreateAccount">
    <input asp-for="GoogleID" type="hidden" value="@Model.GoogleID"/>

    <label asp-for="Name">
        Enter a username:
    </label>
    <input type="text" name="Name" /><br />

    <input type="submit" /><br />
</form>

