<div class="navbar-right">
    <ul class="nav navbar-nav navbar-right">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a class="btn navbar-btn text-light">Hello @User.Identity.Name</a>
                    <a asp-action="Logout" asp-controller="Account" class="btn navbar-btn text-light">Logout</a>
                </li>
            }
            else
            {

                <li>
                    <a class="btn navbar-btn text-light">Guest</a>
                </li>
            }
        }
    </ul>
</div>

