@using Microsoft.AspNetCore.Identity
@using Chess.Models.Account

    <div class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
        @{
            var isAuthenticated = Context.User.Identity.IsAuthenticated;
            if(!isAuthenticated) {
                <li>
                    <a asp-action="SignIn" asp-controller="Account" class="btn navbar-btn">Sign In</a>
                </li>
            }
            else {
                <li>
                    <a class="btn navbar-btn">Hello @User.Identity.Name</a>
                    <a asp-action="Logout" asp-controller="Account" class="btn navbar-btn">Logout</a>
                </li>
            }
            }
        </ul>
    </div>

