<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chess</title>
    <link rel="icon" href="~/lib/img/icon.ico" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Chess.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>


<body>
    <header>
        <nav class="navbar navbar-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Chess</a>
                
                @await Html.PartialAsync("_AccountViewPartial")
            </div>
        </nav>
    </header>


    <main role="main" class="container bg-dark text-light">
        <div class="m-2">
            @RenderBody()
        </div>
    </main>


    <footer class="footer text-muted text-light bg-dark">
        <div class="container">
            &copy; 2022 - Chess
        </div>
    </footer>


    @*load scripts*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) 
</body>


</html>

