<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chess</title>
    <link rel="icon" href="~/lib/img/icon.ico" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>

@*Body*@
<body>

    @*Header*@
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid w-100">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Chess</a>

                @*User model partial*@
                @await Html.PartialAsync("_AccountViewPartial")
            </div>
        </nav>
    </header>

    @*Main content*@
    <main class="bg-dark text-light w-50">
        @RenderBody()
    </main>

    @*Footer*@
    <footer class="footer text-muted text-light bg-dark position-fixed">
        <div class="container">
            &copy; 2022 - Chess
        </div>
    </footer>


    @*load scripts*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

