@inherits ChessComponent



<div class="container p-1 d-inline-flex">
    <div id="chess" class="container col-sm-8 p-1">
        <div>
            <h3>"PlayerBlack"</h3>
            <ul class="captured-pieces">
            </ul>
        </div>

        <table id="boardView">
        </table>

        <ul class="captured-pieces">
        </ul>
        <h3>
            "PlayerWhite"
        </h3>
    </div>

</div>
