@implements IDisposable
@inherits LobbyComponent


<div class="container m-auto">
    <h1>Lobby</h1>
    <div class="container justify-content-center">
        <p>
            Waiting for match...
        </p>
        <p>
            Time Elapsed: @time
        </p>
    </div>
    
</div>