@implements IDisposable
@inherits LobbyComponent


<div class="container m-auto">
    
    <div class="container justify-content-center">
        <p>
            Waiting for match...
        </p>
        <p>
            Time Elapsed: @Time
        </p>
    </div>
    
</div>